/*@warn chromatic-gradient(red, teal);*/
/*@warn chromatic-scale(red, teal);*/
/*@warn chromatic-hsv(0, 1, 1, .5);*/
/*@warn chromatic-lab(50, 0, 60, .5);*/
/*@warn chromatic-cmyk(0, .5, .5, .5, .5);*/
/*@warn chromatic-hcl(0, 50, 60, .5);*/
/*@warn chromatic-lch(60, 50, 0, .5);*/
/*@warn chromatic-hcl(130, 40, 80);*/
/*@warn chromatic-lch(80, 40, 130);*/
/*@warn chromatic-temperature(2000);*/
/*@warn chromatic-gl(0.6, 0, 0.8, 0.5);*/
/*@warn chromatic-cmyk(0.2, 0.8, 0, 0);*/
/*@warn chromatic-mix(red, blue);*/
/*@warn chromatic-mix(red, blue, .5, 'rgb');*/
/*@warn chromatic-blend(#4CBBFC, #EEEE22, 'multiply');*/
/*@warn chromatic-blend(#4CBBFC, #EEEE22, 'darken');*/
/*@warn chromatic-color-set(hotpink, 'lch.c', 30);*/
/*@warn chromatic-color-set(orangered, 'lab.l', '*.5');*/
/*@warn chromatic-color-get(orangered, 'lab.l');*/
/*@warn chromatic-color-darken(red, 2);*/
/*@warn chromatic-contrast(pink, hotpink);*/
/*@warn chromatic-color-brighten(red, 2);*/
/*@warn chromatic-color-saturate(slategray, 2);*/
/*@warn chromatic-color-desaturate(hotpink, 2);*/
/*@warn chromatic-color-luminance(green, .5);*/
/*@warn chromatic-color-luminance(hsla(0,0,0, .5), .5, 'lab');*/
/*@warn chromatic-color-temperature(#ff3300);*/


.Hero {
  height: 100vh;
  &-content {
    max-width: 50rem;
    margin: 2rem auto;
  }
  &-header {
    font-size: 2.618rem;
  }
  &-subheader {
    font-size: 1.618rem;
  }
  &-gradient {
    height: 6rem;
    margin: 2rem 0;
    &--linear {
      background-image: linear-gradient(to right, hsl(0, 100, 50), hsl(180, 100, 50));
    }
    &--chromatic {
      background-image: chromatic-gradient(red, green 75%, teal, (stops: 5, mode: 'lch'));
    }
  }
}
