html {
  height: 100%;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(18, 35, 11, 1), rgba(21, 64, 14, 1), rgba(18, 95, 11, 1), rgba(0, 128, 0, 1), rgba(21, 64, 14, 1), rgba(0, 0, 0, 1));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(18, 35, 11, 1), rgba(21, 64, 14, 1), rgba(18, 95, 11, 1), rgba(0, 128, 0, 1), rgba(21, 64, 14, 1), rgba(0, 0, 0, 1)); }
