@font-face {
  font-family: "mallory";
  font-weight: 300;
  font-style: regular;
  src: url("/src/fonts/mallory-standard-regular-roman-light.woff");
}

@font-face {
  font-family: "mallory";
  font-weight: 400;
  font-style: regular;
  src: url("/src/fonts/mallory-standard-regular-roman-book.woff");
}

@font-face {
  font-family: "mallory";
  font-weight: 500;
  font-style: regular;
  src: url("/src/fonts/mallory-standard-regular-roman-medium.woff");
}

@font-face {
  font-family: "mallory";
  font-weight: 600;
  font-style: regular;
  src: url("/src/fonts/mallory-standard-regular-roman-bold.woff");
}

@font-face {
  font-family: "mallory";
  font-weight: 800;
  font-style: regular;
  src: url("/src/fonts/mallory-standard-regular-roman-black.woff");
}

@font-face {
  font-family: "mallory-mp";
  font-weight: 300;
  font-style: regular;
  src: url("/src/fonts/mallory-micro-plus-regular-roman-light.woff");
}

@font-face {
  font-family: "mallory-mp";
  font-weight: 400;
  font-style: regular;
  src: url("/src/fonts/mallory-micro-plus-regular-roman-book.woff");
}

@font-face {
  font-family: "mallory-mp";
  font-weight: 500;
  font-style: regular;
  src: url("/src/fonts/mallory-micro-plus-regular-roman-medium.woff");
}

@font-face {
  font-family: "mallory-mp";
  font-weight: 600;
  font-style: regular;
  src: url("/src/fonts/mallory-micro-plus-regular-roman-bold.woff");
}

@font-face {
  font-family: "mallory-mp";
  font-weight: 800;
  font-style: regular;
  src: url("/src/fonts/mallory-micro-plus-regular-roman-black.woff");
}
